*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Permanent Marker', cursive;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 400px;
    font-size: 35px;
}
.botones{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 35px;
}
.botones button {
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
   
}
  
.button{
    margin:20px;
    padding: 15px 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    width: 150px;
    background-color: #a8edea;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #90bbb9}

.button:active {
    background-color: #90bbb9;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.imagen{
    display: block;
    width: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}