*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Quattrocento', serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 400px;
    font-size: 40px;
}
.botones{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 35px;
}
.botones button {
    font-family: 'Quattrocento', serif;
    font-size: 20px;
   
}
  
.button{
    margin:20px;
    padding: 15px 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    width: 150px;
    background-color: #ff758c;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}
.button:hover {background-color: #db7787}

.button:active {
    background-color: #db7787;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.imagen{
    display: block;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.imagenover{
    display: block;
    width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.overlay{
    background: rgba(0, 0, 0, 0.89);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    transition: .3s ease all ;
    z-index: 1;
}
.overlay2{
    background: rgba(0, 0, 0, 0.89);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    transition: .3s ease all ;
    z-index: 1;
}
.overlay.active{
    visibility: visible;
}
.overlay2.active{
    visibility: visible;
}
.popup{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-size: 30px;
    color: #fff;
}
.cerrar{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    color: #fff;
}